.column {
  float: left;
  width: 350px;
  padding: 5px;
}
.picha {
  border: 2px solid red;
  text-align: center;
}
.column1 {
  background-color: #bac8e0;
}
.column2 {
  background-color: #53685e ;
}
.column3 {
  background-color: #bc95b6;
}